@import "header";

html, body {
    margin: 0;
    background: white;
    font-family: "Montserrat", sans-serif;

    min-height: 100%;
    height: 100%;
    display: block;
}

body {
    width: clamp(1300px, 100%, 1920px);
    margin: 0 auto;
}

a {
    font-weight: bold;
    text-decoration: none;
}

main {
    background: #f2f2f2;

    padding: 2rem 0;

    a {
        color: #2030aa;
        color: #3090bb;
    }

    & > * {
        /*padding-left: 15%;
        padding-right: 15%;*/
        width: 840px;
        margin-left: auto;
        margin-right: auto;
    }

    img {
      max-width: 100%;
      height: auto;
    }
}

h1,h2,h3,h4 {
  color: #a03030;
}

#OpenBSD {
  margin-top: 0;
}
