body > header {
  background: #222;
  color: white;

  display: flex;
  flex-direction: column;

  #logo_link {
    color: white;
    padding: 0.6rem 0.3rem;
    background: #6bbdd6;

    -webkit-text-stroke: 1px black;
    font-family: "DejaVu Serif", serif;

    #logo {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 50px;
        display: block;
        margin-right: 0.5rem;
      }
    }

    #title {
      margin: 0;
      font-size: 2.2rem;
      font-weight: bold;
    }
  }

  nav {
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;

    header, ul li {
      transition: background 0.25s;
    }

    header:hover, ul li:hover {
      background: #444;
    }

    header {
      font-weight: bold;
      margin-top: 1.25rem;
    }

    ul {
      padding-left: 40px;
      margin: 0;

      li {
        padding: 0.2rem;

        a {
          color: white;
          font-weight: normal;
        }
      }
    }
  }
}
