body > header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  max-height: 40px;
  background: #222;
  color: white;

  display: flex;
  flex-direction: row;

  #logo_link {
    color: white;
    padding: 0.2rem;
    height: 40px;

    #logo {
      display: flex;
      align-items: center;
      margin-right: 3rem;

      img {
        width: 40px;
        display: block;
        margin-right: 0.5rem;
      }
    }

    #title {
      margin: 0;
      font-size: 1.2rem;
      font-weight: bold;
    }
  }

  nav {
    display: grid;
    grid-template-columns: repeat(5, 25%);

    header, ul li {
      transition: background 0.25s;
    }

    header:hover, ul li:hover {
      background: #444;
    }

    header {
      height: 40px;
      padding: 0 0.3rem;

      display: flex;
      align-items: center;
      font-weight: bold;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        padding: 0.6rem;

        a {
          text-decoration: none;
          color: white;
          font-weight: normal;
        }
      }
    }

    padding-bottom: 1rem;
  }

  transition: max-height 0.5s;

  overflow: hidden;
}

body > header:hover {
  max-height: 450px;
}
