main {
  display: flex;
  flex-direction: column;
}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;

  flex-grow: 0;

  padding: 1rem 0;
  margin: 0;
  width: 100%;

  img {
    max-width: 600px;
    flex-shrink: 0;
    margin-bottom: 1rem;
  }

  #links span a {
    padding: 0.5rem;
    box-sizing: border-box;
    display: inline-block;
    font-weight: normal;

    font-size: 1.2rem;

    color: white;
    background: #222;
  }
}


main > div {
  width: 840px;
  flex-grow: 1;

  .content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 3rem;

    padding-top: 1rem;

    #callout {
      font-weight: bold;
      color: #a03030;
    }

    #rack {
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    h2 {
      text-align: center;
    }
  }
}


footer {
  color: white;
  padding: 1rem;
  background: #111;

  width: calc(100% - 2rem);

  p {
    margin-top: 0;
  }

  aside {
    a {
      color: white;
    }

    display: grid;
    grid-template-columns: repeat(8, auto);
  }
}

@media(orientation: portrait) {
    footer aside {
        grid-template-columns: repeat(2, auto);
    }

    main > div .content {
        display: block;
    }

    #banner {
        margin: 0 auto;

        img {
            max-width: 100%;
        }
    }
}
